<h1>LODations - Linked Data Recommendations</h1>

<p>A platform for providing rich recommendations based on <%= link_to('Linked Data', 'http://linkeddata.org') %>.</p>
<p>Hacked together for music, but expandable to other domains.</p>

<div>
  <h2>Music Geek?</h2>
  </p>Look at some of the <%= link_to('recommendation ideas', ideas_path) %> and add your own.</p>
</div>

<div>
  <h2>Linked Data Geek?</h2>
  </p>Look at some of the <%= link_to('recommendation ideas', ideas_path) %> and implement a SPARQL query that might satisfy it!</p>
</div>

<h2>Everyone else</h2>

<p>Browse BBC Music with recommendations added to them, e.g.</p>
<ul>
  <li></li>
<ul>