<h1>LODations - Linked Data Recommendations</h1>

<p>A platform for providing rich recommendations based on <%= link_to('Linked Data', 'http://linkeddata.org') %>.</p>

<h2>Domain Expert?</h2>

<p>Look at some of the <%= link_to('recommendation ideas', ideas_path) %> and add your own.</p>

<h2>Linked Data Expert?</h2>

<p>Look at some of the <%= link_to('recommendation ideas', ideas_path) %> and implement a SPARQL query that might satisfy it!</p>
