<h1>New query</h1>

<% form_for(@query, :url => idea_queries_path(@idea)) do |f| %>
  <%= render(:partial => 'canned_queries/form')%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', idea_queries_path %>
