<p>
  <b>Sparql:</b>
  <pre><%=h @query.sparql %></pre>
</p>

<p>
  <b>Template:</b>
  <%=h @query.template %>
</p>

<%= link_to 'Edit', edit_idea_canned_query_path(@query) %> |
<%= link_to 'Back', idea_path(@idea) %>